html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    background-color: #1B2B44;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}